.topbar{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 7px black;
}

.text-logo{
    color: black;
    font-size: 30px;
    margin-left: 20px;
    text-justify: center;
}
.icon-logo{
    height: 50px;
    width: 50px;
    background-image: url("../../../public/icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
